html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

#title {
    position: fixed;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 5px;
    top: 0;
    background-color: #222222;
    color: #ffffff;
    font-family: 'Indie Flower', cursive;
    z-index: 1;
}

#title h2 {
    margin: 10px;
}

#camera {
    display: none;
}

#play {
    display: none;
}

#canvas {
    margin-top: 60px;
    /* height: 50%; */
    object-fit: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#camera label {
    font-weight: 600;
}

#clickBtn {
    width: 40px;
    background-color: #222222;
    /* color: white; */
    /* font-size: 16px; */
    border-radius: 50%;
    border: none;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); 
    position: fixed;
    /* top: calc(100% - 120px); */
    bottom: 20px;
    left: calc(65% - 40px);
}

#backBtnCamera {
    width: 40px;
    background-color: #222222;
    /* color: white; */
    /* font-size: 16px; */
    border-radius: 50%;
    border: none;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); 
    position: fixed;
    /* top: calc(100% - 120px); */
    bottom: 20px;
    left: calc(35% - 40px);
}

#playBtn {
    width: 40px;
    background-color: #222222;
    /* color: white; */
    /* font-size: 16px; */
    border-radius: 50%;
    border: none;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); 
    position: fixed;
    bottom: 20px;
    left: calc(50% - 40px);
}

.add-keyframe, .add-scene {
    background-color: #222222;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Josefin Slab', cursive;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 30px 0 20px 0;
}

#addBtn {
    width: 40px;
    background-color: #222222;
    /* color: white; */
    /* font-size: 16px; */
    border-radius: 50%;
    border: none;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); 
    position: fixed;
    top: calc(100% - 120px);
    left: calc(25% - 40px);
}

#addSceneBtn {
    width: 40px;
    background-color: #222222;
    /* color: white; */
    /* font-size: 16px; */
    border-radius: 50%;
    border: none;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); 
    position: fixed;
    top: calc(100% - 120px);
    left: calc(75% - 40px);
}

#footer {
    display: block;
    height: 120px;
}

#debug {
    color: red;
    font-weight: 800;
}

#playback {
    margin-top: 65px;
    background-color: #444444;
}

#backBtnPlay {
    width: 40px;
    background-color: #222222;
    /* color: white; */
    /* font-size: 16px; */
    border-radius: 50%;
    border: none;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); 
    position: fixed;
    /* top: calc(100% - 120px); */
    bottom: 20px;
    left: calc(35% - 40px);
}

#downloadBtn {
    width: 40px;
    background-color: #222222;
    /* color: white; */
    /* font-size: 16px; */
    border-radius: 50%;
    border: none;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); 
    position: fixed;
    bottom: 20px;
    left: calc(65% - 40px);
}

#main {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    width: 90vw;
    padding-bottom: 130px;
}

#main hr {
    width: 100%;
    text-align: center;
    color: #222222;
}

.frame-info {
    display: inline-flex;
    vertical-align: top;
    width: 45vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
}

.frame-info button {
    /* width: 80%; */
    padding: 6px 8px;
    width: 90px;
}

.scene-content, .frame-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.scene > h2 {
    margin-bottom: 8px;
    margin-top: 30px;
    text-align: left;
}
.scene > .frame-info { height: 33vw; }

.scene {border-bottom: 1px solid #444444;}

.frame-img {
    /* display: inline-block;
    /* position: fixed; 
    float: right;
    top: 80px;
    right: 20px; */
    /* object-fit: cover; */
    /* float: left; */
    display: inline-block;
    vertical-align: top;
    width: 45vw;
    background-color: #cccccc;
    border-radius: 4px;
}

.keyframe {
    margin-left: 10vw;
    border-top: 1px dotted #444444;
    padding-top: 0px;
    margin-top: 20px;
}

.keyframe .frame-img {
    width: 35vw;
}

.keyframe > .frame-info { height: 26vw; }

.timestamp {
    margin: 5px;
    padding: 2px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 60px;
}

.keyframe h3 {
    text-align: left;
    margin-bottom: 10px;
}